@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  padding: 1rem 0;

  @media (--media-min-medium) {
    padding: 2rem 0;
  }

}

.secondaryButton {
  margin-top:4rem;
margin-bottom:4rem;
  border:none;
   background-color:transparent;
   outline:none;

min-width: 88px;
height: 38px;
left: 1005px;
top: -5px;
cursor:pointer;
background: #273241;
padding-left:1rem;
padding-right:1rem;
/* Soft Shadow/Down */

box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
border-radius: 4px;
color: #FFFFFF;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.secondaryButton:hover {
opacity: 0.95;
}
.article {
  width: 100%;
  max-width: var(--width-medium);
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
  background: #FFFFFF;
}
.articlebox {
  width: 100%;
  max-width: var(--width-m-small);
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
  background: #FFFFFF;
box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.05);
border-radius: 8px;
padding-top:30px;
padding-bottom:30px;
}
.label {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 1em;
}

.heading {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
}

.label+.heading {
  margin-top: 0.25em;
}
